<form [formGroup]="profileForm">
    <div class="input-group">
        <input type="file" class="form-control" formControlName="audio" (change)='audioUpload($event)' id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" >
    </div>
</form>

<div class="mb-3"  >
    Mensaje: <label for="formGroupExampleInput2" class="form-label">{{message}}</label>
    <br>
    Sentimiento: <label for="formGroupExampleInput2" class="form-label">{{sentiment}}</label>
</div>
 
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Analizando... </p></ngx-spinner>
