<div class="container">
  <h3 class="d-flex justify-content-center">Speech to Text</h3>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="speech" class="m-1 btn btn-light btn-outline-primary" Button>Speech to Text</button>
      </li>
      <li class="nav-item">
        <button routerLink="text" class="m-1 btn btn-light btn-outline-primary" Button>Text</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>

</div>