
<form [formGroup]="profileForm" (ngSubmit)="textUpload()">
    <div class="input-group">
        <textarea class="form-control" aria-label="With textarea" formControlName="text"></textarea>
        <button class="btn btn-outline-secondary" type="submit">Analizar</button>
    </div>
</form>


<div class="mb-3"  >
    Mensaje: <label for="formGroupExampleInput2" class="form-label">{{message}}</label>
    <br>
    Sentimiento: <label for="formGroupExampleInput2" class="form-label">{{sentiment}}</label>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Analizando... </p></ngx-spinner>
